.header {
background-color: #00CC00;
padding-left: 10px;
text-align: center;
font-size: x-large;
font-weight: bold;
}

.footer {
background-color: #00CC00;
text-align: center;
}

.heading {
font-size: larger;
font-weight: bold;
}

.normal {
}

p {
text-indent: 1cm;
}
