.header {
background-color: #fc8105;
padding-left: 10px;
text-align: center;
font-size: larger;
font-weight: bold;
}

.footer {
background-color: #fc8105;
text-align: center;
}

.normal {
}

p {
text-indent: 1cm;
}

h1 {
	background-color: #fc8105;
}
